{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upatith</title>
</head>

<body >
    {% load static %}
    <div>
        This is index page
        <p>Name : {{name}}</p>
    </div>
    <a href="/logout">Logout</a>
    <a href="attendence">Attendence</a>
    <a href="reqmes">Interact</a>
    <a href="tasks">Tasks</a>

</body>

</html>